.button {
    color: $white;
    font-family: $monofont;
    background-color: $blue;
    width: 25rem;
    height: 3rem;
    border-radius: 3px;
    border: 1px solid $green;

    
    transition: all 0.3s;

    @include fullflex;

    &:hover {
        transform: translateY(-3px);
        background-color: $green;
        color: $black;
        box-shadow: 0px 5px 3px 0px $black;
    }
}