$cardWidth: 500px;
$cardHeight: 300px;

.card {
    font-size: $h3;
    margin: 10px;
    height: 90vh;
    max-height: $cardHeight;
    width: 70vw;
    max-width: $cardWidth;
    border-radius: 3px;
    overflow: hidden;
    
    @include flex(center);
    flex-direction: column;

    &__text {
        font-size: $h3;
    }

    &__description {
        color: $white;
        background-color: $black;
        width: 70vw;
        max-width: $cardWidth;
        height: 3rem;
        @include flex(center);
    }
}