
/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Source+Code+Pro');

$font: 'PT Serif', serif;
$monofont: 'Source Code Pro', monospace;

$green: #5EFC8D;
$ltblue: #7EA8BE;
$blue: #415A77;
$white: #F6F0ED;
$black: #293132;

$h1: 4rem;
$h2: 2rem;
$h3: 1.5rem;
