#secret {
    position: fixed;
    right: -1000px;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    min-height: 700px;
    background-position: center;
    background-size: cover;
    @include flex(center, row, wrap);

    &__content {
        width: 80vw;
        max-width: 1300px;
        max-height: 80vh;
        @include flex(space-around);
        @include screen('med', max) {
            flex-wrap: wrap;
        }
    }

    &__buttons {
        @include flex(between);
        flex-direction: column;

        & > *:first-child {
            margin-top: 0px;
        }

        & > * {
            margin-top: 10px;
        }
    }
}